<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <%- include ("./header.ejs") %>
    <link rel="stylesheet" href="css/index.css" />
  </head>
  <body>
    <% if(!user){ include ("./login.ejs") } else{ %>
    <div class="container">
      <div class="img">
        <img src="img/strava-logo.png" class="img-thumbnail" />
      </div>
      <div>
        <a
          class="go-to-strava"
          href="https://www.strava.com/athletes/<%= user.id %>"
          >https://www.strava.com/athletes/<%= user.id %></a
        >
        <div class="link-connect">
          <a href="/logout">Disconnect</a>
        </div>
      </div>
      <div class="listA">
        <%- include ("./listActivities.ejs") %>
      </div>
    </div>
    <% } %>
  </body>
</html>
