<div class="container">
  <div class="row">
    <div class="col-lg-6"></div>
    <div class="col-lg-6">
      <form method="post" action="/activities">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            class="form-control"
            name="name"
          />
        </div>
        <div class="form-group">
          <label for="type">Type</label>
          <input
            class="form-control"
            name="type"
          />
        </div>
        <div class="form-group">
          <label for="startDateLocal">Start Date</label>
          <input
            class="form-control"
            placeholder="2022-02-02"
            name="startDateLocal"
          />
        </div>
        <div class="form-group">
          <label for="elapsedTime">Elapsed Time</label>
          <input
            class="form-control"
            name="elapsedTime"
          />
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input
            class="form-control"
            name="description"
          />
        </div>
        <div class="form-group">
          <label for="distance">Distance</label>
          <input
            class="form-control"
            name="distance"
          />
        </div>
        <div class="form-group">
          <label for="trainer">Trainer</label>
          <input
            class="form-control"
            name="trainer"
          />
        </div>
        <div class="form-group">
          <label for="commute">Commute</label>
          <input
            class="form-control"
            name="commute"
          />
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
      </form>
    </div>
  </div>
</div>
