<head>
  <link rel="stylesheet" href="css/login.css" />
</head>
<div class="container">
  <div class="img">
    <img src="img/strava-logo.png" class="img-thumbnail" />
  </div>
  <div class="link-login">
    <a href="/auth/strava">Connect</a>
  </div>
</div>
