.container{
    margin: 20px auto;
    text-align: center;
}
img {
    border-radius: 25%;
    width: 100px;
    width: 100px;
}
.link-connect {
    padding: 15px;
    margin: 20px 0;
    background-color: rgb(228, 86, 86);
    border-radius: 10px;
    width: 100%;
}
.link-connect a {
    color: #FFFFFF;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-decoration: none;
}
.go-to-strava{
    text-decoration: none;
    lighting-color: rgb(57, 140, 235);
}