
.container{
    width: 500px;
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
img {
    border-radius: 25%;
    width: 100px;
    width: 100px;
}
.link-login {
    padding: 15px;
    margin: 20px 0;
    background-color: rgb(228, 86, 86);
    border-radius: 10px;
}
.link-login a {
    text-decoration: none;
    color: #FFFFFF;
    
}